#body.ui.borderless.fixed.menu{
  font-size: 20px;
  z-index: auto;
  margin-top: 38px;
  border-top: none;
}

.logo.medium.item{
  padding:0;
}

.ui.borderless.fixed.top.menu{
  background-color: #222;
  font-family: Helvetica, Arial, "sans-serif";
  padding-bottom: 0;
  padding-right: 150px;
  margin-bottom: 0;
  opacity: 98%;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: cadetblue;
  font-weight: bolder;
}

/*remove dropdown arrow*/
.ui.menu .dropdown.item i.icon {
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*menu items font color*/
.ui.menu .item{
  color: #888888 !important;
}

/*search bar color*/
.ui.search .prompt {
  border-radius: 14px;
  background-color: #222222 !important;
  font-family: Helvetica, Arial, "sans-serif";
  color: #888888 !important;
}

/*search placeholder color*/
.ui.search ::placeholder{
  color: #888888 !important;
}

.ui.search .results{
  background-color: #222222 ;
  border: none;
}


.ui.search .results .message .header {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 14px;
  font-weight: normal;
  color: #888888 !important;
}


/*search icon color*/
.ui.icon.input>i.icon{
  color: #888888 !important;
}
/*background color dropdown menu*/
.ui.menu .dropdown.item .menu{
  background-color: #222222;
}

/*dropdown item text color*/
.ui.menu .ui.dropdown .menu .item{
  color: #888888 !important;
}


body{
  background-color: #222222 !important;
  color: white !important;

}

/*from chrome dev tools*/
.ui[class*="vertically divided"].grid>.row:first-child>.column {
  padding-top: 15px;
}

.ui.link.list .item{
  color: #999999 !important;
}

.ui.bottom.secondary.menu .item {
  color: #888888 !important;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding-left: 300px;
}

/*about page*/
#body.ui.borderless.fixed.menu{
  font-size: 20px;
  z-index: auto;
  border-top: none;
}

.logo.medium.item{
  padding:0;
}

.ui.borderless.fixed.top.menu{
  background-color: #222;
  font-family: Helvetica, Arial, "sans-serif";
  padding-bottom: 0;
  padding-right: 150px;
  margin-bottom: 0;
  opacity: 98%;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: cadetblue;
  font-weight: bolder;
}

/*remove dropdown arrow*/
.ui.menu .dropdown.item i.icon {
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*menu items font color*/
.ui.menu .item{
  color: #888888 !important;
}

/*search bar color*/
.ui.search .prompt {
  border-radius: 14px;
  background-color: #222222 !important;
  font-family: Helvetica, Arial, "sans-serif";
  color: #888888 !important;
}

/*search placeholder color*/
.ui.search ::placeholder{
  color: #888888 !important;
}

.ui.search .results{
  background-color: #222222 ;
  border: none;
}


.ui.search .results .message .header {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 14px;
  font-weight: normal;
  color: #888888 !important;
}


/*search icon color*/
.ui.icon.input>i.icon{
  color: #888888 !important;
}
/*background color dropdown menu*/
.ui.menu .dropdown.item .menu{
  background-color: #222222;
}

/*dropdown item text color*/
.ui.menu .ui.dropdown .menu .item{
  color: #888888 !important;
}

body{
  background-color: #222222 !important;
  color: white !important;

}

/*from chrome dev tools*/
.ui[class*="vertically divided"].grid>.row:first-child>.column {
  padding-top: 15px;
}

.ui.link.list .item{
  color: #999999 !important;
}

.ui.bottom.secondary.menu .item {
  color: #888888 !important;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding-left: 300px;
}

/*login page*/
.login-bg {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 150px;
  padding-bottom: 100px;
}

.form-text {
  font-family: Helvetica, Arial, "sans-serif";
  color: white;
  padding-bottom: 2px;
}

/*signup*/

.form-text {
  font-family: Helvetica, Arial, "sans-serif";
  color: white;
  padding-bottom: 2px;
}

.signup-bg {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 150px;
  padding-bottom: 50px;
}

.expenses-bg {
  background: #5ebcae;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #366b75, #5ebcae);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #366b75, #5ebcae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 150px;
  padding-bottom: 100px;
}

.landing-bg {
  background: url(../public/images/home-background.jpeg);
  background-size: Cover;
  background-repeat: repeat;
}
#background {
  width: 100%;
  position: absolute;
  left: 0px;
}

.stretch {
  min-width:100%; width:auto;
}



