.ui.topmenu.fixed.menu{
  font-family: Helvetica, "sans-serif";
  font-size: 12px;
  height: 38px;
  box-shadow: none;
}
.ui.borderless.fixed.menu{
  font-size: 14px;
  z-index: auto;
  margin-top: 38px;
  border-top: none;
}
