#body.ui.borderless.fixed.menu{
  font-size: 20px;
  z-index: auto;
  margin-top: 38px;
  border-top: none;
}

.ui.borderless.fixed.top.menu{
  background-color: #222;
  font-family: Helvetica, Arial, "sans-serif";
  padding-bottom: 0;
  padding-right: 150px;
  margin-bottom: 0;
  opacity: 98%;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: cadetblue;
  font-weight: bolder;
}

/*remove dropdown arrow*/
.ui.menu .dropdown.item i.icon {
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*menu items font color*/
.ui.menu .item{
  color: #888888 !important;
}

/*search bar color*/
.ui.search .prompt {
  border-radius: 14px;
  background-color: #222222 !important;
  font-family: Helvetica, Arial, "sans-serif";
  color: #888888 !important;
}

/*search placeholder color*/
.ui.search ::placeholder{
  color: #888888 !important;
}

.ui.search .results{
  background-color: #222222 ;
  border: none;
}


.ui.search .results .message .header {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 14px;
  font-weight: normal;
  color: #888888 !important;
}


/*search icon color*/
.ui.icon.input>i.icon{
  color: #888888 !important;
}
/*background color dropdown menu*/
.ui.menu .dropdown.item .menu{
  background-color: #222222;
}

/*dropdown item text color*/
.ui.menu .ui.dropdown .menu .item{
  color: #888888 !important;
}


.slogan1 {
  font-family:Helvetica, Arial, "sans-serif";
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left:5%
}

.slogan2{
  font-family:Helvetica, Arial, "sans-serif";
  font-size: 30px;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 57%;
  left:5%
}


.ui.button.one{
  position: absolute;
  top:65%;
  left:5%;
  background-color:white;
  font-family: "Arial Narrow",sans-serif;
  color:black;
  font-size: 20px;
}
.ui.button.two{
  position: absolute;
  top:65%;
  left:20%;
  background-color:white;
  font-family: "Arial Narrow",sans-serif;
  color:black;
  font-size: 20px;
}

body{
  background-color: #222222 !important;
  color: white !important;

}

/*from chrome dev tools*/
.ui[class*="vertically divided"].grid>.row:first-child>.column {
  padding-top: 15px;
}

.ui.link.list .item{
  color: #999999 !important;
}

.ui.bottom.secondary.menu .item {
  color: #888888 !important;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding-left: 300px;
}

