#body.ui.borderless.fixed.menu{
  font-size: 14px;
  z-index: auto;
  margin-top: 38px;
  border-top: none;
}

.ui.borderless.fixed.top.menu{
  background-color: #222;
  font-family: Helvetica, Arial, "sans-serif";
  padding-bottom: 0;
  padding-right: 150px;
  margin-bottom: 0;
  box-shadow: none;
}


/*menu items font color*/
.ui.menu .item{
  color: #888888 !important;
}

/*search bar color*/
.ui.search .prompt {
  border-radius: 14px;
  background-color: #222222 !important;
  font-family: Helvetica, Arial, "sans-serif";
  color: #888888 !important;
}

/*search placeholder color*/
.ui.search ::placeholder{
  color: #888888 !important;
}

.ui.search .results{
  background-color: #222222 ;
}

.ui.search .results .message .header {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 14px;
  font-weight: normal;
  color: #888888 !important;
}


/*search icon color*/
.ui.icon.input>i.icon{
  color: #888888 !important;
}
/*background color dropdown menu*/
.ui.menu .dropdown.item .menu{
  background-color: #222222;
}

/*dropdown item text color*/
.ui.menu .ui.dropdown .menu .item{
  color: #888888 !important;
}
#body.ui.fluid.image{
  padding-top: 109px;
}


#body.ui.fluid.image{
  padding-top: 109px;
}

.slogan1 {
  font-family:"Arial Narrow",sans-serif;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 30%;
  left:5%
}

.slogan2{
  font-family:"sans-serif";
  font-size: 20px;
  color: white;
  position: absolute;
  top: 35%;
  left:5%
}


.ui.button.one{
  position: absolute;
  top:40%;
  left:5%;
  background-color:white;
  font-family: "Arial Narrow",sans-serif;
  color:black;
}
.ui.button.two{
  position: absolute;
  top:40%;
  left:20%;
  background-color:white;
  font-family: "Arial Narrow",sans-serif;
  color:black;
}
